/* Custom container */
.container-full {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
}
.left-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    padding: 15px;
    border-right: 1px solid #E6E6E6;
    background-color: #F8F8F8;
}
.main-panel {
    left: 250px;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.main-panel .google-visualization-table-td, .main-panel .google-visualization-table-th {
    border-color: #aaa;
}
.navbar-center {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}
.nav.nav-subitem {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav.nav-subitem a {
    padding: 0;
    padding-left: 10px;
}
.text-center th {
    text-align: center;
}
map-navigator {
     display:inline-block;
    position: relative;
}