/* feat: before angular is ready, display loading animation */
body.waiting div#login-form {
  display: none;
}
body.waiting div#content {
  display: none;
}
body.waiting div#initializing-panel {
  display: block;
  background: url(../img/loading.gif) center center no-repeat;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}



/*  LOGIN -------------------------------------------------------------------------------- */ 

#login-holder {
  margin: 0px auto 0 auto;
  width: 508px;
  padding-top: 100px;
}
#loginbox {
  height: 212px;
  padding-top: 60px;
  position: relative;
  width: 508px;
}
