<div ng-controller="GlobalChartCtrl" ng-if="zone">

    <table class="table table-condensed text-center">
        <thead>
        <tr>
            <th>Visualisation</th>
            <th ng-if="selectedDimension != 'moveType'">Type</th>
            <th ng-if="selectedDimension != 'category.category'">CSP</th>
            <th ng-if="selectedDimension != 'origin.id'">Région de départ</th>
            <th ng-if="selectedDimension == 'origin.id'">Déplacements internes</th>
            <th>Période</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary btn-xs dropdown-toggle">
                        {{$enum.chartType[config.chartType].label}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="c in availableChartTypes">
                            <a href="javascript:;" ng-click="config.chartType = c">{{$enum.chartType[c].label}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            </td>
            <td ng-if="selectedDimension != 'moveType'">
                <div class="dropdown">
                    <button class="btn btn-primary btn-xs dropdown-toggle">
                        {{$enum.moveType[config.moveType].label}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, moveType) in $enum.moveType">
                            <a href="javascript:;" ng-click="config.moveType = key">{{moveType.label}}</a>
                        </li>
                    </ul>
                </div>
            <td ng-if="selectedDimension != 'category.category'">
                <div class="dropdown">
                    <button class="btn btn-primary btn-xs dropdown-toggle">
                        {{$enum.category[config.category] || 'Tous'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;" ng-click="config.category = null">Tous</a>
                        </li>
                        <li ng-repeat="(key, category) in $enum.category">
                            <a href="javascript:;" ng-click="config.category = key">{{category}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td ng-if="selectedDimension != 'origin.id'">
                <div class="dropdown">
                    <button class="btn btn-primary btn-xs dropdown-toggle">
                        {{zone.idx[config.origin].lib}} ({{zone.idx[config.origin].getCogString()}}) <span
                            class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="config.origin = zone.parent.id">{{zone.parent.lib}}
                                ({{zone.parent.getCogString()}})</a>
                        </li>
                        <li ng-repeat="z in zone.siblings">
                            <a href="javascript:;" ng-click="config.origin = z.id">{{z.lib}} ({{z.getCogString()}})</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td ng-if="selectedDimension == 'origin.id'">
                <input type="checkbox" ng-model="config.internalMoves"/></td>
            <td>
                <select ng-options="key as g.label for (key, g) in $enum.timeGranularity"
                        ng-model="config.dateGranularity"></select>
                <select ng-options="y for y in availableDates.year" ng-model="config.dateFrom.year"></select>
                <select ng-if="config.dateGranularity == 'MONTH'" ng-options="y for y in availableDates.month"
                        ng-model="config.dateFrom.month"></select>
                -
                <select ng-options="y for y in availableDates.year" ng-model="config.dateEnd.year"></select>
                <select ng-if="config.dateGranularity == 'MONTH'" ng-options="y for y in availableDates.month"
                        ng-model="config.dateEnd.month"></select>
            </td>
        </tr>
        </tbody>
    </table>


    <div class="row">
        <div ng-if="config.chartType != 'Map'" google-chart chart="chart" class="col-sm-8" style="height: 300px;"/>
        <map-navigator ng-if="config.chartType == 'Map' && mapData" options="mapOptions" zones="zone.siblings"
                       highlight="[]" data="mapData" class="col-sm-8" style="height: 300px;"></map-navigator>
        <div google-chart chart="chartTable" class="col-sm-4" style="margin-top:40px;"/>
    </div>

    <label>Voir les estimations : <input type="checkbox" ng-model="allowEstimated"/></label>

    <div class="panel panel-success" ng-if="qr.usedDataSets.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Données utilisées</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Fournisseur</th>
                    <th>Titre</th>
                    <th>Type de déplacement</th>
                    <th>Période</th>
                    <th>Couverture géographique</th>
                    <th>Population</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in qr.usedDataSets">
                    <td>{{d.provider.providerName}}</td>
                    <td>{{d.label}}</td>
                    <td>{{$enum.moveType[d.moveType].label}}</td>
                    <td ng-if="d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format) == d.timeFilter.to.format($enum.timeGranularity[d.timeGranularity].format)">
                        sur {{d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format)}}
                        ({{$enum.timeGranularity[d.timeGranularity].label}})
                    </td>
                    <td ng-if="d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format) != d.timeFilter.to.format($enum.timeGranularity[d.timeGranularity].format)">
                        de {{d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format)}}
                        à {{d.timeFilter.to.format($enum.timeGranularity[d.timeGranularity].format)}}
                        ({{$enum.timeGranularity[d.timeGranularity].label}})
                    </td>
                    <td>{{$enum.geoGranularity[d.geoGranularity].label}}</td>
                    <td>{{d.populationGranularity == 'SELECTED' ? ($enum.populationFilter[d.populationFilter] || "Tous")
                        : "Agrégé"}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-danger" ng-if="qr.missing.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Données manquantes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ng-repeat="d in $enum.dimensions">{{d.label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in qr.missing">
                    <td ng-repeat="(dim, d) in $enum.dimensions" ng-init="ranges = m[dim]">
                        <span ng-if="!ranges"><strong>Tout</strong></span>
                        <ul class="list-unstyled">
                            <li ng-repeat="rg in ranges" ng-bind-html-unsafe="rangeHtml(rg, dim)"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-estimation" ng-if="qr.estimatedPoints.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title"> Données estimées </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ng-repeat="d in $enum.dimensions">{{d.label}}</th>
                    <th>Valeur</th>
                    <th>Erreur (%)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in qr.estimatedPoints">
                    <td>Tout</td>
                    <td>{{e.movement.target.lib}}</td>
                    <td>{{e.movement.origin.lib}}</td>
                    <td>{{e.movement.moveType.toLowerCase()}}</td>
                    <td> sur {{e.missing}}</td>
                    <td>{{e.movement.count}}</td>
                    <td>{{e.error}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>