<div ng-controller="HomeCtrl" ng-if="zone">

    <div style="text-align: center">
        <map-navigator style="width: 400px; height: 300px;"
                       options="mapChildrenOption"
                       zones="zone.children" highlight="[]" data="emptyZonesData" on-highlight="" ng-if="zone.granularity != 'COMMUNE'"></map-navigator>

        <map-navigator style="width: 400px; height: 300px;"
                   options="mapSiblingsOption"
                   zones="zone.siblings" highlight="[zone.id]" data="emptyZonesData" on-highlight="" ng-if="zone.granularity != 'NATION'"></map-navigator>

    </div>
    <h3>Jeux de données disponible pour cette zone</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Fournisseur</th>
                <th>Titre</th>
                <th>Type de déplacement</th>
                <th>Période</th>
                <th>Couverture géographique</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in datasets | orderBy:'-id'">
                <td>{{d.provider.providerName}}</td>
                <td>{{d.label}}</td>
                <td>{{$enum.moveType[d.moveType].label}}</td>
                <td ng-if="d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format) == d.timeFilter.to.format($enum.timeGranularity[d.timeGranularity].format)">
                    sur {{d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format)}}
                    ({{$enum.timeGranularity[d.timeGranularity].label}})
                </td>
                <td ng-if="d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format) != d.timeFilter.to.format($enum.timeGranularity[d.timeGranularity].format)">
                de {{d.timeFilter.from.format($enum.timeGranularity[d.timeGranularity].format)}}
                    à {{d.timeFilter.to.format($enum.timeGranularity[d.timeGranularity].format)}}
                    ({{$enum.timeGranularity[d.timeGranularity].label}})</td>
                <td>{{$enum.geoGranularity[d.geoGranularity].label}}</td>
                <td>{{d.populationGranularity == 'SELECTED' ? ($enum.populationFilter[d.populationFilter] || "Tous") : "Agrégé"}}</td>
            </tr>
        </tbody>
    </table>
</div>