<div ng-if="user">
    <h4>Utilisateur : {{user.firstName}} {{user.lastName}}</h4>
    <h4>Zones autorisées</h4>
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="z in user.restrictedZones"><a href="#/{{z.id}}">{{$enum.geoGranularity[z.granularity].label}} - {{z.lib}}</a></li>
    </ul>
</div>