<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <link href="css/application.css" type="text/css" rel="stylesheet"/>
    <link href="css/security.css" type="text/css" rel="stylesheet"/>
    <script src="lib/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="lib/bootstrap.min.js"></script>


    <script src="js/application.js"></script>
</head>
<body ng-app="xdata" ng-controller="Global" class="auth-login waiting-for-angular">
	 <div id="initializing-panel"></div>
  	<auth-login-form name="Analytics"></auth-login-form>

  	<div id="content" class="container-fluid">

    <nav class="navbar navbar-default" role="navigation" ng-if="user">
        <p class="navbar-text navbar-center" ng-if="zone">
            <a class="nav" href="#/">{{$enum.geoGranularity[zone.granularity].label}} | {{zone.lib}}</a></p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Analytics</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-right">
            <li><a logout href="#/" ng-click="logout(); ">{{user.firstName}} {{user.lastName}} (logout)</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        <div class="left-panel" ng-if="zone">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: location.path() == ('/'+selection.cogId)}">
                    <a href="#/{{selection.cogId}}">Accueil</a>
                </li>
                <li ng-class="{active: location.path() == ('/'+selection.cogId+'/global')}">
                    <a href="#/{{selection.cogId}}/global">Trafic Extérieur</a>
                    <ul class="nav nav-pills nav-stacked nav-subitem">
                        <li ng-class="{active: location.path() == ('/'+selection.cogId+'/global/origin')}">
                            <a href="#/{{selection.cogId}}/global/origin">Zones</a>
                        </li>
                        <li ng-class="{active: location.path() == ('/'+selection.cogId+'/global/csp')}">
                            <a href="#/{{selection.cogId}}/global/csp">Population</a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: location.path() == ('/'+selection.cogId+'/local')}">
                    <a href="#/{{selection.cogId}}/local">Trafic Intérieur</a>
                    <ul class="nav nav-pills nav-stacked nav-subitem">
                        <li ng-class="{active: location.path() == ('/'+selection.cogId+'/local/origin')}">
                            <a href="#/{{selection.cogId}}/local/origin">Zones</a>
                        </li>
                        <li ng-class="{active: location.path() == ('/'+selection.cogId+'/local/csp')}">
                            <a href="#/{{selection.cogId}}/local/csp">Population</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div ng-if="selection.level == 'local'" style="position: absolute; bottom: 20px;" ng-controller="LeftPanelNavigator">
                <map-navigator style="width: 220px; height: 300px;"
                               options="options"
                               zones="zone.children" highlight="[selectedZone.local.id]" data="emptyZonesData" ng-if="zone.granularity != 'NATION'"></map-navigator>
            </div>
        </div>
        <div class="main-panel" ng-view>
        </div>
    </div>
    </div>
</body>
</html>
